<app-loading [isLoading]="isLoading">
  <div id="intro">
    <div class="mask">
      <div class="container-fluid d-flex align-items-center justify-content-center vh-100">
        <div class="row d-flex justify-content-center text-center">
          <i [class]="result?.success ? 'fas fa-check' : 'fas fa-times'"
             [style]="{backgroundColor: result?.success ? '#8BC34A' : '#FF3333'}" id="icon">
          </i>
          <div id='card' class="animate__animated animate__fadeIn px-3">
            <div id='upper-side' [style]="{backgroundColor: result?.success ? '#8BC34A' : '#FF3333'}">
              <h3 id='status'>
                {{result?.success ? 'Sucesso ;D' : 'Ops, algo deu errado :('}}
              </h3>
            </div>
            <div id='lower-side'>
              <p id='message'>
                {{result?.message}}
              </p>
              <a href="/" id="btn-continue">Continuar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-loading>

