<p-confirmDialog #cd
                 [breakpoints]="{'960px': '50vw', '640px': '95vw'}" [style]="{width: '50vw'}" [closable]="false"
                 position="bottom">
  <ng-template pTemplate="footer">
    <button (click)="cd.accept()" class="p-button-raised p-button-success p-button-rounded" icon="pi pi-check"
            label="Sim" pButton type="button">
    </button>
    <button (click)="cd.reject()" class="p-button-raised p-button-danger p-button-rounded" icon="pi pi-times"
            label="Não" pButton type="button">
    </button>
  </ng-template>
</p-confirmDialog>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="pb-3">
        <button class="p-button-raised p-button-success p-button-rounded" icon="fas fa-folder-plus" label="Cadastrar"
                pButton type="button" (click)="openRegistration()">
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p-dataView #dv
                  [paginator]="true" [rows]="9" [value]="pets"
                  emptyMessage="Nenhum registro encontrado..." filterBy="name" layout="grid">
        <ng-template pTemplate="header">
          <div class="flex flex-column flex-md-row justify-content-md-between">
            <span class="p-input-icon-left mb-2 mb-md-0">
              <i class="pi pi-search"></i>
              <input type="search" pInputText placeholder="Procura por Nome" (input)="dv.filter($event.target.value)">
            </span>
          </div>
        </ng-template>
        <ng-template let-pet pTemplate="gridItem">
          <div class="col-12 col-md-3 p-4 d-inline-block">
            <div class="card">
              <div class="card-header card-header-danger">
                <p class="card-title">{{pet.name}}</p>
              </div>
              <div class="card-body">
                <div class="text-center">
                  <p-image [alt]="pet.name" [height]="150" [imageClass]="'w-100'" [preview]="false" [src]="pet.img"
                           loading="lazy">
                  </p-image>
                </div>
                <hr>
                <div class="float-left">
                  <button class="p-button-raised p-button-info p-button-rounded" icon="fas fa-pencil-alt" pButton
                          (click)="openEdit(pet.id)"
                          type="button">
                  </button>
                  <button (click)="confirmDonation(pet)"
                          class="p-button-raised p-button-success p-button-rounded ml-2"
                          icon="fas fa-hand-holding-heart" pButton type="button">
                  </button>
                </div>
                <div class="float-right">
                  <button (click)="confirmDelete(pet)"
                          class="p-button-raised p-button-danger p-button-rounded"
                          icon="fas fa-folder-minus" pButton type="button">
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="footer">
        </ng-template>
      </p-dataView>
    </div>
  </div>
</div>


