<app-loading [isLoading]="isLoading"></app-loading>
<ng-container *ngIf="!isLoading">
  <p-toast [baseZIndex]="5000" [hideTransitionOptions]="'0ms'" position="top-right"></p-toast>
  <header>
    <app-navbar (onLogin)="openLoginModal()" (onLogout)="logout()" (onToggleButtonClick)="toggle()"
                [containerFluid]="false" [menuItems]="menuItems" [showLoginButton]="true" [user]="user"
                class="navbar-dark bg-dark fixed-top">
    </app-navbar>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <app-footer></app-footer>
</ng-container>


