<div class="container-fluid">
  <div class="card">
    <div class="card-header card-header-danger">
      <h5 class="card-title">Estatísticas em {{currentYear}}</h5>
    </div>
    <div class="card-body animate__animated animate__fadeIn">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="text-center">
            <p-progressSpinner *ngIf="isLoadingDonationData; else donationChart;"></p-progressSpinner>
          </div>
          <ng-template #donationChart>
            <p-chart type="line" [data]="donationChartData" [options]="basicOptions"></p-chart>
          </ng-template>
        </div>
        <div class="col-12 col-md-6">
          <div class="text-center">
            <p-progressSpinner *ngIf="isLoadingContributionData; else contributionChart;"></p-progressSpinner>
          </div>
          <ng-template #contributionChart>
            <p-chart type="line" [data]="contributionChartData" [options]="basicOptions"></p-chart>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
