<div *ngIf="petId" class="text-center">
  <p-progressSpinner *ngIf="isLoading"></p-progressSpinner>
</div>

<div *ngIf="!isLoading">
  <p-scrollPanel [styleClass]="isMobile() ? 'custombar2' : ''"
                 [style]="{height: getModalHeight().toString() + 'px'}">
    <form [formGroup]="registerForm">
      <div class="row">
        <div class="col-12 col-md-6 p-fluid">
          <div class="text-center p-1">
            <img #avatar
                 (error)="avatar.src = 'assets/img/default-image.png'"
                 [class]="getScreenWidth() <= 1024 ? 'w-100' : ''" [src]="img"
                 alt="Logo" height="200" width="300"/>
            <div *ngIf="!rf.img.valid && (rf.img.dirty || submitted)">
              <p-message *ngIf="rf.img.errors.required" severity="error" text="Escolha uma imagem"></p-message>
            </div>
            <p-fileUpload (onSelect)="onSelectFile($event)"
                          [auto]="true"
                          accept="image/*" chooseIcon="pi pi-upload"
                          chooseLabel="Escolher imagem" invalidFileSizeMessageDetail="o tamanho máximo de upload é {0}."
                          invalidFileSizeMessageSummary="" maxFileSize="1000000" mode="basic">
            </p-fileUpload>
          </div>
        </div>
        <div class="col-12 col-md-6 p-fluid">
          <div class="mt-1 mt-md-0 p-1">
            <label>Nome</label>
            <input [formControl]="rf.name"
                   class="p-inputtext p-inputtext-sm" pInputText
                   type="text">
            <div *ngIf="!rf.name.valid && (rf.name.dirty || submitted)">
              <p-message *ngIf="rf.name.errors.required" severity="error" text="Informe o nome"></p-message>
            </div>
          </div>
          <div class="mt-1 p-1">
            <label>Gênero</label>
            <p-dropdown [formControl]="rf.petGenderId"
                        [options]="optPetGenders"
                        emptyMessage="Nenhum registro foi encontrado."
                        optionValue="value"
                        placeholder="Selecione o gênero">
            </p-dropdown>
            <div *ngIf="!rf.petGenderId.valid && (rf.petGenderId.dirty || submitted)">
              <p-message *ngIf="rf.petGenderId.errors.required" severity="error" text="Informe o gênero"></p-message>
            </div>
          </div>
          <div class="mt-1 p-1">
            <label>Raça</label>
            <input [formControl]="rf.breed"
                   class="p-inputtext p-inputtext-sm" pInputText
                   type="text">
            <div *ngIf="!rf.breed.valid && (rf.breed.dirty || submitted)">
              <p-message *ngIf="rf.breed.errors.required" severity="error" text="Informe a raça"></p-message>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12 col-md-12 p-fluid">
          <div class="p-1 p-md-0">
            <label>Descrição (Hábitos, Comidas, Brinquedos etc...)</label>
            <p-editor [(ngModel)]="text"
                      [formControl]="rf.description"
                      [style]="{'height':'160px'}">
            </p-editor>
            <div *ngIf="!rf.description.valid && (rf.description.dirty || submitted)">
              <p-message *ngIf="rf.description.errors.required" severity="error" text="Informe a descrição"></p-message>
            </div>
          </div>
        </div>
      </div>
    </form>
  </p-scrollPanel>
  <p-toolbar styleClass="bg-transparent border-0 text-center mb-0 pb-0">
    <div class="p-toolbar-group-left"></div>
    <div class="p-toolbar-group-right">
      <button (click)="trySubmit()" class="p-button-raised p-button-success p-button-rounded"
              icon="fas fa-check" label="Confirmar" pButton type="button">
      </button>
      <button (click)="close()" class="p-button-raised p-button-danger p-button-rounded ml-2"
              icon="fas fa-times" label="Cancelar" pButton type="button">
      </button>
    </div>
  </p-toolbar>
</div>

