<nav class="navbar navbar-expand-lg {{class}}">
  <div class="{{containerFluid ? 'container-fluid' : 'container'}}">
    <div class="navbar-wrapper">
      <a class="navbar-brand {{!title ? 'p-0 m-0' : ''}}" href="{{!title ? '/' : 'javascript:void(0)'}}">
        <span *ngIf="!title;else titleBlock">
          <img alt="Logo" height="50" src="./assets/img/logo.png">
        </span>
      </a>
    </div>
    <ng-template #titleBlock>
      <div class="d-flex">
        {{title}}
      </div>
    </ng-template>
    <div (click)="toggle()" class="navbar-toggler p-2" type="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </div>
    <ul class="navbar-nav rounded p-fluid p-2">
      <li *ngFor="let menuItem of menuItems" class="nav-item">
        <button (click)="navigate(menuItem.path)"
                [class]="'p-button p-button-text p-button-rounded text-light' + menuItem.class" [icon]="menuItem.icon"
                [label]="menuItem.title" iconPos="left" pButton>
        </button>
      </li>
      <li *ngIf="!user;else userBlock;" class="nav-item">
        <button (click)="login()" *ngIf="showLoginButton"
                class="p-button p-button-rounded p-button-raised text-light mx-lg-2 my-1" icon="fas fa-sign-in-alt"
                iconPos="left" label="Login" pButton>
        </button>
      </li>
      <ng-template #userBlock>
        <li class="nav-item">
          <button (click)="navigate('/admin/profile')" *ngIf="showLoginButton"
                  class="p-button p-button-rounded p-button-raised text-light mx-lg-2 my-1" icon="fas fa-user"
                  iconPos="left" [label]="user.username" pButton>
          </button>
        </li>
      </ng-template>
    </ul>
    <button (click)="logout()" *ngIf="!isMobile && title"
            [ngStyle]="{backgroundColor:'var(--bluegray-300)', borderColor:'var(--bluegray-300)'}"
            class="p-button p-button-md p-button-rounded p-button-raised" icon="pi pi-sign-out" label="Logout" pButton>
    </button>
  </div>
</nav>
