<app-loading [isLoading]="isLoading"></app-loading>
<div class="wrapper">
  <app-sidebar (onLogout)="logout()" (onMenuItemClick)="sidebarToggle()" [isMobile]="isMobileMenu()"
               [menuItems]="sidebarMenuItem" [user]="user">
  </app-sidebar>
  <div class="main-panel">
    <app-navbar (onLogout)="logout()" (onToggleButtonClick)="sidebarToggle()" [isMobile]="isMobileMenu()"
                [title]="getTitle()" [user]="user" class="navbar-light navbar-absolute">
    </app-navbar>
    <div class="content">
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </div>
</div>
