<br/>
<strong>1. ACEITAÇÃO DO USO DOS TERMOS E CONDIÇÕES</strong>
<br/>Seu acesso e uso do Pet Unite está sujeito exclusivamente a estes Termos e Condições. Você não usará o aplicativo para qualquer finalidade que seja ilegal ou proibida por estes Termos e Condições. Ao usar o aplicativo, você aceita integralmente os termos, condições e isenções de responsabilidade contidos neste aviso. Se você não aceitar estes Termos e Condições, você deve parar imediatamente de usar o aplicativo.
<br/><br/>

<strong>2. ACONSELHAMENTO JURÍDICO</strong>
<br/><strong>2.1</strong> O conteúdo do aplicativo não constitui conselho e não deve ser invocado para tomar ou deixar de tomar qualquer decisão.
<br/><strong>2.2</strong> Todo o material contido no aplicativo é fornecido sem qualquer tipo de garantia. Você usa o material em Pet Unite a seu critério.
<br/><br/>

<strong>3. MUDANÇA DE USO</strong>
Pet Unite reserva-se o direito de:
<br/><strong>3.1</strong> alterar ou remover (temporária ou permanentemente) o aplicativo ou qualquer parte dele sem aviso prévio e você confirma que Pet Unite não será responsável por tal alteração ou remoção.
<br/><strong>3.2</strong> alterar estes Termos e Condições a qualquer momento, e seu uso continuado do aplicativo após quaisquer alterações será considerado como sua aceitação de tal alteração.
<br/><br/>

<strong>4. LINKS PARA APLICATIVOS E SITES DE TERCEIROS</strong>
<br/>O aplicativo Pet Unite pode incluir links para aplicativos e sites de terceiros que são controlados e mantidos por outros. Qualquer link para outros aplicativos e sites não é um endosso de tal e você reconhece e concorda que não somos responsáveis pelo conteúdo ou disponibilidade de tais aplicativos e sites.
<br/><br/>

<strong>5. DIREITO AUTORAL</strong>
<br/>Ao acessar o aplicativo, você concorda que acessará o conteúdo exclusivamente para seu uso pessoal e não comercial. Nenhum conteúdo pode ser baixado, copiado, reproduzido, transmitido, armazenado, vendido ou distribuído sem o consentimento prévio por escrito do detentor dos direitos autorais. Isso exclui o download, cópia e/ou impressão de páginas do aplicativo apenas para uso doméstico pessoal e não comercial.
<br/><br/>

<strong>6. LINKS PARA OUTROS APLICATIVOS E SITES</strong>
<br/><strong>6.1</strong> Ao longo deste aplicativo, você pode encontrar links para aplicativos de terceiros. O fornecimento de um link para tal aplicativo não significa que endossamos esse aplicativo. Se você visitar qualquer aplicativo por meio de um link neste aplicativo, você o fará por sua conta e risco.
<br/><strong>6.2</strong> Qualquer parte que deseje vincular a este aplicativo tem o direito de fazê-lo, desde que sejam observadas as condições abaixo:
<br/><strong>(a)</strong> Você não pretende insinuar que estamos endossando os serviços ou produtos de outra parte, a menos que isso tenha sido acordado conosco por escrito;
<br/><strong>(b)</strong> Você não deturpa seu relacionamento com este aplicativo;
<br/><strong>(c)</strong> O aplicativo do qual você vincula a este aplicativo não contém conteúdo ofensivo ou controverso ou conteúdo que infrinja quaisquer direitos de propriedade intelectual ou outros direitos de terceiros.
<br/><strong>6.3</strong> Ao vincular a este aplicativo em violação aos nossos termos, você nos indenizará por qualquer perda ou dano sofrido a este aplicativo como resultado de tal vinculação.
<br/><br/>

<strong>7. ISENÇÃO DE RESPONSABILIDADE E LIMITAÇÃO DE RESPONSABILIDADE</strong>
<br/><strong>7.1</strong> O aplicativo é fornecido no ESTADO EM QUE SE ENCONTRA e COMO DISPONÍVEL, sem qualquer representação ou endosso feito e sem garantia de qualquer tipo, expressa ou implícita, incluindo, mas não se limitando às garantias implícitas de qualidade satisfatória, adequação a uma finalidade específica, não violação , compatibilidade, segurança e precisão.
<br/><strong>7.2</strong> Na medida permitida por lei, a Pet Unite não será responsável por qualquer perda ou dano indireto ou consequencial (incluindo, sem limitação, perda de negócios, oportunidades, dados, lucros) decorrente ou em conexão com o uso do aplicativo.
<br/><strong>7.3</strong> Pet Unite não garante que a funcionalidade do aplicativo seja ininterrupta ou livre de erros, que os defeitos sejam corrigidos ou que o aplicativo ou o servidor que o disponibiliza esteja livre de vírus ou qualquer outra coisa que possa ser prejudicial ou destrutiva.
<br/><strong>7.4</strong> Nada nestes Termos e Condições deve ser interpretado de forma a excluir ou limitar a responsabilidade da Pet Unite por morte ou danos pessoais como resultado da negligência da Pet Unite ou de seus funcionários ou agentes.
<br/><br/>

<strong>8. SEPARAÇÃO</strong>
<br/>Se qualquer um destes Termos e Condições for considerado inválido, ilegal ou inexequível por qualquer motivo por qualquer tribunal de jurisdição competente, tal Termo ou Condição será cortado e os Termos e Condições restantes sobreviverão e permanecerão em pleno vigor e efeito e continuam a ser vinculativas e executórias.
<br/><br/>

<strong>9. RENÚNCIA</strong>
<br/>Se você violar estas Condições de Uso e não tomarmos nenhuma medida, ainda teremos o direito de usar nossos direitos e recursos em qualquer outra situação em que você violar estas Condições de Uso.
<br/><br/>

<strong>10. LEI APLICÁVEL</strong>
<br/>Estes Termos e Condições serão regidos e interpretados de acordo com a lei de e você se submete à jurisdição exclusiva dos tribunais.
<br/>
