<div class="mt-5" id="intro">
  <div class="mask">
    <div class="container-fluid d-flex align-items-center justify-content-center vh-100">
      <div class="row d-flex justify-content-center text-center">
        <div class="col-md-12">
          <h6 class="display-4 font-weight-bold text-white animate__animated animate__fadeInDown">
            Lorem Ipsum
          </h6>
          <hr>
          <h4 class="text-white my-4 animate__animated animate__fadeInUp">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
            consequuntur.
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
