<p-confirmDialog #cd
                 [breakpoints]="{'960px': '50vw', '640px': '95vw'}" [style]="{width: '50vw'}" [closable]="false"
                 position="bottom">
  <ng-template pTemplate="footer">
    <button (click)="cd.accept()" class="p-button-raised p-button-success p-button-rounded" icon="pi pi-check"
            label="Sim" pButton type="button">
    </button>
    <button (click)="cd.reject()" class="p-button-raised p-button-danger p-button-rounded" icon="pi pi-times"
            label="Não" pButton type="button">
    </button>
  </ng-template>
</p-confirmDialog>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12">
      <p-toast baseZIndex="9999"></p-toast>
      <div class="card">
        <div class="card-header card-header-danger">
          <p class="card-title">Gerenciador</p>
        </div>
        <div class="card-body">
          <div class="animate__animated animate__fadeIn">
            <p-tabView (onChange)="handleChange($event)" [(activeIndex)]="activeIndex">
              <div class="text-center">
                <p-progressSpinner *ngIf="isLoading"></p-progressSpinner>
              </div>
              <p-tabPanel header="Usuários">
                <p-table #dt *ngIf="!isLoading"
                         [globalFilterFields]="['username', 'email', 'provider']" [paginator]="true" [rowHover]="true"
                         [rows]="10" [showCurrentPageReport]="true" [value]="users"
                         [responsive]="true" responsiveLayout="stack"
                         currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                         dataKey="id">
                  <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                      <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input (input)="dt.filterGlobal($event.target.value, 'contains')"
                               pInputText placeholder="Pesquisar..." type="text"/>
                      </span>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th class="text-center"></th>
                      <th>
                        <i class="fas fa-user"></i> Usuário
                      </th>
                      <th>
                        <i class="fas fa-envelope"></i> Email
                      </th>
                      <th class="text-center">
                        <i class="fas fa-lock"></i> Role
                      </th>
                      <th class="text-center">
                        <i class="fas fa-id-card"></i> Conta
                      </th>
                      <th class="text-center">
                        <i class="fas fa-info"></i> Situação
                      </th>
                      <th class="text-center"></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-user>
                    <tr>
                      <td class="text-center">
                        <img #avatar (error)="avatar.src = './assets/img/avatar.png'"
                             alt="Logo" class="rounded-circle" height="32" src="{{user?.img}}"/>
                      </td>
                      <td>{{user.username}}</td>
                      <td>{{user.email}}</td>
                      <td class="text-center">{{user.isSuperUser ? 'Administrador' : 'Usuário'}}</td>
                      <td class="text-center">
                        <i [class]="getProvider(user.provider).icon"
                           [ngStyle]="{fontSize: '1.5rem', color: getProvider(user.provider).color}"
                           [pTooltip]="getProvider(user.provider).name" tooltipPosition="top">
                        </i>
                      </td>
                      <td class="text-center">
                        <i *ngIf="!user.blocked" class="pi pi-check-circle text-success" pTooltip="Normal"
                           [ngStyle]="{fontSize: '1.5rem'}" tooltipPosition="top">
                        </i>
                        <i *ngIf="user.blocked" class="pi pi-ban text-danger" pTooltip="Bloqueado"
                           [ngStyle]="{fontSize: '1.5rem'}" tooltipPosition="top">
                        </i>
                      </td>
                      <td class="text-center">
                        <button (click)="viewUser(user.id)"
                                class="p-button-rounded p-button-raised p-button-info mr-2" icon="fas fa-id-card"
                                pButton pRipple>
                        </button>
                        <button (click)="confirmDelete(user)" *ngIf="!user.deleted"
                                class="p-button-rounded p-button-raised p-button-danger" icon="pi pi-trash" pButton
                                pRipple>
                        </button>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between"></div>
                  </ng-template>
                </p-table>
              </p-tabPanel>
              <p-tabPanel header="Relatórios">
                <p-table #dt *ngIf="!isLoading"
                         [globalFilterFields]="['name']" [paginator]="true" [rowHover]="true"
                         [rows]="10" [showCurrentPageReport]="true" [value]="reports"
                         [responsive]="true" responsiveLayout="stack"
                         currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                         dataKey="id">
                  <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                      <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input (input)="dt.filterGlobal($event.target.value, 'contains')"
                               pInputText placeholder="Pesquisar..." type="text"/>
                      </span>
                      <button (click)="exportExcel(reports)" [disabled]="isLoading" class="p-button-success p-button-raised mt-2 mt-md-0 ml-2" icon="pi pi-file-excel" pButton pRipple
                              pTooltip="XLS" tooltipPosition="bottom" type="button">
                      </button>
                      <button (click)="exportPdf(reports, 'reports')" [disabled]="isLoading" class="p-button-warning p-button-raised mt-2 mt-md-0 ml-2" icon="pi pi-file-pdf" pButton pRipple
                              pTooltip="PDF" tooltipPosition="bottom" type="button">
                      </button>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th>
                        <i class="fas fa-user"></i> Usuário
                      </th>
                      <th>
                        <i class="fas fa-envelope"></i> Email
                      </th>
                      <th>
                        <i class="fas fa-exclamation-circle"></i> Tipo
                      </th>
                      <th>
                        <i class="fas fa-pencil-alt"></i> Assunto
                      </th>
                      <th class="text-center">
                        <i class="fas fa-calendar"></i> Data
                      </th>
                      <th class="text-center"></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-report>
                    <tr>
                      <td>{{report?.username}}</td>
                      <td>{{report?.email}}</td>
                      <td>{{report?.type}}</td>
                      <td>{{report?.subject}}</td>
                      <td class="text-center">{{report?.date}}</td>
                      <td class="text-center">
                        <button (click)="viewReport(report.id)"
                                class="p-button-rounded p-button-raised p-button-info mr-2"
                                icon="fas fa-envelope-open-text" pButton pRipple>
                        </button>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between"></div>
                  </ng-template>
                </p-table>
              </p-tabPanel>
              <p-tabPanel header="Estatisticas">
                <div class="container-fluid">
                  <div class="card">
                    <div class="card-body animate__animated animate__fadeIn">
                      <div class="row">
                        <div class="col-12 col-md-6">
                          <p-chart type="line" [data]="basicData" [options]="basicOptions"></p-chart>
                        </div>
                        <div class="col-12 col-md-6">
                          <p-chart type="line" [data]="basicData2" [options]="basicOptions"></p-chart>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </p-tabPanel>
            </p-tabView>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

