<p-toast baseZIndex="9999"></p-toast>

<p-confirmDialog #cd [breakpoints]="{'960px': '50vw', '640px': '95vw'}" [closable]="false" [style]="{width: '50vw'}"
                 position="bottom">
  <ng-template pTemplate="footer">
    <button (click)="cd.accept()" class="p-button-raised p-button-success p-button-rounded" icon="pi pi-check"
            label="Sim" pButton type="button">
    </button>
    <button (click)="cd.reject()" class="p-button-raised p-button-danger p-button-rounded" icon="pi pi-times"
            label="Não" pButton type="button">
    </button>
  </ng-template>
</p-confirmDialog>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="card">
        <div class="card-header card-header-danger">
          <h5 class="card-title">Gerenciador</h5>
        </div>
        <div class="card-body">
          <div class="animate__animated animate__fadeIn">
            <p-tabView (onChange)="handleChange($event)" [(activeIndex)]="activeIndex">
              <form *ngIf="activeIndex === tabViewIndex.Users" [formGroup]="formFilter">
                <div class="row">
                  <div class="col-12 col-md-3 p-fluid">
                    <p-dropdown [formControl]="ff.role" [options]="optRoles"
                                class="mr-3" emptyMessage="Nenhum registro foi encontrado." optionValue="value"
                                placeholder="Selecione o tipo">
                    </p-dropdown>
                  </div>
                  <div class="col-12 col-md-2 p-fluid">
                    <p-dropdown [formControl]="ff.state" [options]="optStates"
                                class="mr-3" emptyMessage="Nenhum registro foi encontrado." optionValue="value"
                                placeholder="Selecione o UF">
                    </p-dropdown>
                  </div>
                  <div class="col-12 col-md-2 p-fluid">
                    <button (click)="getUsers()"
                            class="p-button-raised p-button-success p-button-rounded p-button-sm"
                            icon="fas fa-search" iconPos="right" label="Procurar" pButton type="button">
                    </button>
                  </div>
                </div>
                <div *ngIf="ff.role.value !== null || ff.state.value" class="row">
                  <div class="col-12 col-md-12 p-fluid">
                    <div class="my-3 mt-md-0">
                      <span class="mr-2">Filtros:</span>
                      <span *ngIf="ff.role.value !== null" class="mr-3">
                        <p-chip (onRemove)="removeFilter($event, ff.role)" [removable]="true"
                                label="{{getSelectItemLabel(ff.role.value, optRoles)}}">
                        </p-chip>
                      </span>
                      <span *ngIf="ff.state.value" class="mr-3">
                        <p-chip (onRemove)="removeFilter($event, ff.state)" [removable]="true"
                                label="{{getSelectItemLabel(ff.state.value, optStates)}}">
                        </p-chip>
                      </span>
                    </div>
                  </div>
                </div>
              </form>
              <div class="text-center">
                <p-progressSpinner *ngIf="isLoading && activeIndex !== tabViewIndex.Charts"></p-progressSpinner>
              </div>
              <p-tabPanel header="Usuários">
                <p-table #dt *ngIf="!isLoading"
                         [globalFilterFields]="['username', 'email', 'provider']" [paginator]="true" [responsive]="true"
                         [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [value]="users"
                         currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                         dataKey="id" responsiveLayout="stack">
                  <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                      <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input (input)="dt.filterGlobal($event.target.value, 'contains')" pInputText
                               placeholder="Pesquisar..." type="text"/>
                      </span>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th class="text-center"></th>
                      <th><i class="fas fa-user mr-2"></i>Usuário</th>
                      <th><i class="fas fa-envelope mr-2"></i>Email</th>
                      <th class="text-center"><i class="fas fa-lock mr-2"></i>Permissão</th>
                      <th class="text-center"><i class="fas fa-id-card mr-2"></i>Conta</th>
                      <th class="text-center"><i class="fas fa-info mr-2"></i>Situação</th>
                      <th class="text-center"></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-user>
                    <tr>
                      <td class="text-center">
                        <img #avatar (error)="avatar.src = './assets/img/avatar.png'" [src]="user?.img" alt="Logo"
                             class="rounded-circle" height="32"/>
                      </td>
                      <td>{{user.username}}</td>
                      <td>{{user.email}}</td>
                      <td class="text-center">{{user.isSuperUser ? 'Administrador' : user.isInstitution ? 'Instituição' : 'Usuário'}}</td>
                      <td class="text-center">
                        <i [class]="getAccountProvider(user.provider).icon"
                           [ngStyle]="{fontSize: '1.5rem', color: getAccountProvider(user.provider).color}"
                           [pTooltip]="getAccountProvider(user.provider).name" tooltipPosition="top">
                        </i>
                      </td>
                      <td class="text-center">
                        <i *ngIf="!user.blocked" class="pi pi-check-circle text-success" pTooltip="Normal"
                           [ngStyle]="{fontSize: '1.5rem'}" tooltipPosition="top">
                        </i>
                        <i *ngIf="user.blocked" class="pi pi-ban text-danger" pTooltip="Bloqueado"
                           [ngStyle]="{fontSize: '1.5rem'}" tooltipPosition="top">
                        </i>
                      </td>
                      <td class="text-center">
                        <button (click)="onClickViewUser(user.id)"
                                class="p-button-rounded p-button-raised p-button-info mr-3" icon="fas fa-id-card"
                                pButton pRipple pTooltip="Visualizar" tooltipPosition="top">
                        </button>
                        <button (click)="onClickDeleteUser(user)" *ngIf="!user.deleted"
                                class="p-button-rounded p-button-raised p-button-danger" icon="pi pi-trash" pButton
                                pRipple pTooltip="Excluir" tooltipPosition="top">
                        </button>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between"></div>
                  </ng-template>
                </p-table>
              </p-tabPanel>
              <p-tabPanel header="Relatórios">
                <p-table #dt *ngIf="!isLoading"
                         [globalFilterFields]="['name']" [paginator]="true" [responsive]="true"
                         [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [value]="reports"
                         currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                         dataKey="id" responsiveLayout="stack">
                  <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                      <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input (input)="dt.filterGlobal($event.target.value, 'contains')" pInputText
                               placeholder="Pesquisar..." type="text"/>
                      </span>
                      <button (click)="onClickExportExcel(reports)" [disabled]="isLoading"
                              class="p-button-success p-button-raised mt-2 mt-md-0 ml-2" icon="pi pi-file-excel" pButton
                              pRipple pTooltip="XLS" tooltipPosition="bottom" type="button">
                      </button>
                      <button (click)="onClickExportPdf(reports, 'reports')" [disabled]="isLoading"
                              class="p-button-warning p-button-raised mt-2 mt-md-0 ml-2" icon="pi pi-file-pdf" pButton
                              pRipple pTooltip="PDF" tooltipPosition="bottom" type="button">
                      </button>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th><i class="fas fa-user mr-2"></i>Usuário</th>
                      <th><i class="fas fa-envelope mr-2"></i>Email</th>
                      <th><i class="fas fa-exclamation-circle mr-2"></i>Tipo</th>
                      <th><i class="fas fa-pencil-alt mr-2"></i>Assunto</th>
                      <th class="text-center"><i class="fas fa-calendar mr-2"></i>Data</th>
                      <th class="text-center"></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-report>
                    <tr>
                      <td>{{report?.username}}</td>
                      <td>{{report?.email}}</td>
                      <td>{{report?.type}}</td>
                      <td>{{report?.subject}}</td>
                      <td class="text-center">{{report?.date}}</td>
                      <td class="text-center">
                        <button (click)="onClickViewReport(report.id)"
                                class="p-button-rounded p-button-raised p-button-info mr-2"
                                icon="fas fa-envelope-open-text" pButton pRipple pTooltip="Visualizar"
                                tooltipPosition="top">
                        </button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </p-tabPanel>
              <p-tabPanel header="Solicitações">
                <p-table #dt *ngIf="!isLoading"
                         [globalFilterFields]="['name']" [paginator]="true" [responsive]="true"
                         [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [value]="permissionRequests"
                         currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                         dataKey="id" responsiveLayout="stack">
                  <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                      <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input (input)="dt.filterGlobal($event.target.value, 'contains')" pInputText
                               placeholder="Pesquisar..." type="text"/>
                      </span>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th><i class="fas fa-user mr-2"></i>Usuário</th>
                      <th><i class="fas fa-envelope mr-2"></i>Email</th>
                      <th class="text-center"><i class="fas fa-id-card mr-2"></i>Conta</th>
                      <th class="text-center"><i class="fas fa-calendar mr-2"></i>Data</th>
                      <th class="text-center"></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-request>
                    <tr>
                      <td>{{request?.username}}</td>
                      <td>{{request?.email}}</td>
                      <td class="text-center">
                        <i [class]="getAccountProvider(request.provider).icon"
                           [ngStyle]="{fontSize: '1.5rem', color: getAccountProvider(request.provider).color}"
                           [pTooltip]="getAccountProvider(request.provider).name" tooltipPosition="top">
                        </i>
                      </td>
                      <td class="text-center">{{request?.date}}</td>
                      <td class="text-center">
                        <button (click)="onClickConfirmPermissionRequest(request)"
                                class="p-button-rounded p-button-raised p-button-success mr-2"
                                icon="fas fa-check" pButton pRipple>
                        </button>
                        <button (click)="onClickDeclinePermissionRequest(request)"
                                class="p-button-rounded p-button-raised p-button-danger"
                                icon="fas fa-times" pButton pRipple>
                        </button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </p-tabPanel>
              <p-tabPanel header="Estatísticas {{currentYear}}">
                <div class="card">
                  <div class="card-body animate__animated animate__fadeIn">
                    <div class="row">
                      <div class="col-12 col-md-6">
                        <div class="text-center">
                          <p-progressSpinner *ngIf="isLoadingDonationData; else donationChart;"></p-progressSpinner>
                        </div>
                        <ng-template #donationChart>
                          <p-chart type="line" [data]="donationChartData" [options]="basicOptions"></p-chart>
                        </ng-template>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="text-center">
                          <p-progressSpinner *ngIf="isLoadingContributionData; else contributionChart;"></p-progressSpinner>
                        </div>
                        <ng-template #contributionChart>
                          <p-chart type="line" [data]="contributionChartData" [options]="basicOptions"></p-chart>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
              </p-tabPanel>
            </p-tabView>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
