<div class="p-grid p-fluid">
  <form (ngSubmit)="recovery()" [formGroup]="passwordRecoveryForm">
    <div class="p-col-12 p-md-12 mt-4">
      <span class="p-input-icon-left">
        <i class="pi pi-envelope"></i>
        <input #emailInput [formControl]="prf.email" [spellcheck]="false" class="p-inputtext p-inputtext-sm rounded"
               pInputText placeholder="Email" type="text">
      </span>
      <div *ngIf="!prf.email.valid && (prf.email.dirty || submitted)">
        <p-message *ngIf="prf.email.errors.required" severity="error" text="Informe o email"></p-message>
        <p-message *ngIf="prf.email.errors.email" severity="error" text="Informe um email válido"></p-message>
      </div>
    </div>
    <button [disabled]="isLoading" [loading]="isLoading"
            class="p-button p-button-success p-button-raised p-button-rounded mt-3" icon="fas fa-paper-plane"
            iconPos="left" [label]="!isLoading ? 'Enviar' : 'Aguarde...'" pButton type="submit">
    </button>
  </form>
</div>
<hr>
<button (click)="selectAccountAction(accountActionEnum.Login, 'Login')" [disabled]="isLoading"
        class="p-button p-button-outlined p-button-secondary p-button-rounded p-button-sm mt-1"
        icon="fas fa-angle-double-left" label="Login" pButton type="button">
</button>

