<div class="p-grid p-fluid">
  <ng-container [ngSwitch]="passwordResetAction">
    <form (ngSubmit)="sendPasswordResetCode()" *ngSwitchCase="passwordResetActionEnum.SendVerificationCode"
          [formGroup]="sendPasswordResetCodeForm">
      <div class="p-col-12 p-md-12 mt-4">
      <span class="p-input-icon-left">
        <i class="pi pi-envelope"></i>
        <input #emailInput [formControl]="sprcf.email" [spellcheck]="false" class="p-inputtext p-inputtext-sm rounded"
               pInputText placeholder="Email" type="text">
      </span>
        <div *ngIf="!sprcf.email.valid && (sprcf.email.dirty || submitted)">
          <p-message *ngIf="sprcf.email.errors.required" severity="error" text="Informe o email"></p-message>
          <p-message *ngIf="sprcf.email.errors.email" severity="error" text="Informe um email válido"></p-message>
        </div>
      </div>
      <button [disabled]="isLoading" [loading]="isLoading"
              class="p-button p-button-success p-button-raised p-button-rounded mt-3" icon="fas fa-paper-plane"
              iconPos="left" [label]="!isLoading ? 'Enviar' : 'Aguarde...'" pButton type="submit">
      </button>
    </form>

    <form (ngSubmit)="validatePasswordResetCode()" *ngSwitchCase="passwordResetActionEnum.CodeValidation"
          [formGroup]="validatePasswordResetCodeForm" class="animate__animated animate__fadeInLeft">
      <div class="p-col-12 p-md-12 mt-4">
      <span class="p-input-icon-left">
        <i class="pi pi-ticket"></i>
        <input #codeInput [formControl]="vprcf.code" [spellcheck]="false" class="p-inputtext p-inputtext-sm rounded"
               pInputText placeholder="Código de Verificação" type="text">
      </span>
        <div *ngIf="!vprcf.code.valid && (vprcf.code.dirty || submitted)">
          <p-message *ngIf="vprcf.code.errors.required" severity="error"
                     text="Informe o código de verificação"></p-message>
        </div>
      </div>
      <button [disabled]="isLoading" [loading]="isLoading"
              class="p-button p-button-info p-button-raised p-button-rounded mt-3" icon="fas fa-check"
              iconPos="left" [label]="!isLoading ? 'Verificar' : 'Aguarde...'" pButton type="submit">
      </button>
    </form>

    <form (ngSubmit)="changePassword()" *ngSwitchCase="passwordResetActionEnum.ChangePassword"
          [formGroup]="changePasswordForm" class="animate__animated animate__fadeInLeft">
      <div class="p-col-12 p-md-12 mt-4">
      <span class="p-input-icon-left">
        <i class="pi pi-lock"></i>
        <input #passwordInput [formControl]="cpf.password" type="password" class="p-inputtext p-inputtext-sm rounded"
               pPassword placeholder="Senha">
      </span>
        <div *ngIf="!cpf.password.valid && (cpf.password.dirty || submitted)">
          <p-message *ngIf="cpf.password.errors.required" severity="error" text="Informe a senha"></p-message>
          <p-message *ngIf="cpf.password.errors.minlength" severity="error" text="Mínimo de 8 caracteres"></p-message>
          <p-message *ngIf="cpf.password.errors.maxlength" severity="error" text="Máximo de 16 caracteres"></p-message>
        </div>
      </div>
      <div class="p-col-12 p-md-12 mt-3">
      <span class="p-input-icon-left">
        <i class="pi pi-lock"></i>
        <input #confirmPasswordInput [formControl]="cpf.confirmPassword" type="password"
               class="p-inputtext p-inputtext-sm rounded" pPassword placeholder="Confirmação Senha">
      </span>
        <div *ngIf="!cpf.confirmPassword.valid && (cpf.confirmPassword.dirty || submitted)">
          <p-message *ngIf="cpf.confirmPassword.errors.required" severity="error" text="Confirme a senha"></p-message>
          <p-message *ngIf="cpf.confirmPassword.errors.mustMatch" severity="error"
                     text="Senhas não correspondem"></p-message>
        </div>
      </div>
      <button [disabled]="isLoading" [loading]="isLoading"
              class="p-button p-button-success p-button-raised p-button-rounded mt-3" icon="fas fa-check"
              iconPos="left" [label]="!isLoading ? 'Alterar' : 'Aguarde...'" pButton type="submit">
      </button>
    </form>
  </ng-container>
</div>
<hr>
<button (click)="selectAccountAction(accountActionEnum.Login, 'Login')" [disabled]="isLoading"
        class="p-button p-button-outlined p-button-secondary p-button-rounded p-button-sm mt-1"
        icon="fas fa-angle-double-left" label="Login" pButton type="button">
</button>

