<div *ngIf="user.filledProfile; else messageBlock">
  <p-toast [baseZIndex]="9999"></p-toast>

  <p-confirmDialog #cd [breakpoints]="{'960px': '50vw', '640px': '95vw'}" [closable]="false" [style]="{width: '50vw'}"
                   position="bottom">
    <ng-template pTemplate="footer">
      <button (click)="cd.accept()" class="p-button-raised p-button-success p-button-rounded" icon="pi pi-check"
              label="Sim" pButton type="button">
      </button>
      <button (click)="cd.reject()" class="p-button-raised p-button-danger p-button-rounded" icon="pi pi-times"
              label="Não" pButton type="button">
      </button>
    </ng-template>
  </p-confirmDialog>

  <p-dialog header="{{interestedUser?.username}}" [(visible)]="displayInterestedUser" [position]="'right'"
            [modal]="true" [breakpoints]="{'960px': '75vw'}" [style]="{width: '60vw'}"
            [draggable]="false" [resizable]="false">
    <div class="row">
      <div class="col-12 col-md-3">
        <div class="mt-2 text-center">
          <img #avatar (error)="avatar.src = './assets/img/avatar.png'" [src]="interestedUser?.img"
               alt="Logo" class="rounded-circle" height="128" width="128"/>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="my-2">
          <b>Email</b>
          <div>{{interestedUser?.email}}</div>
        </div>
        <div>
          <b>Contatos</b>
          <div *ngIf="interestedUser?.cell">
            Celular: {{interestedUser?.cell}}
          </div>
          <div *ngIf="interestedUser?.whatsapp">
            Whatsapp: {{interestedUser?.whatsapp}}
          </div>
          <div *ngIf="interestedUser?.phone">
            Telefone: {{interestedUser?.phone}}
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="my-2">
          <b>Cidade</b>
          <div>{{interestedUser?.city}} - {{interestedUser?.state}}</div>
        </div>
        <div *ngIf="getDistanceFromLatLonInKm({lat: donation?.lat, lng: donation?.lng}, {lat: interestedUser?.lat, lng: interestedUser?.lng}) > 0">
          <b>Distância</b>
          <div>
            {{getDistanceFromLatLonInKm({lat: donation?.lat, lng: donation?.lng}, {lat: interestedUser?.lat, lng: interestedUser?.lng})}} Km
          </div>
        </div>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <button pButton icon="pi pi-check" (click)="displayInterestedUser=false" label="Ok"
              class="p-button-raised p-button-rounded p-button-sm">
      </button>
    </ng-template>
  </p-dialog>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <p-tabView (onChange)="handleChange($event)" [(activeIndex)]="activeIndex">
          <p-tabPanel header="Doações">
            <div class="text-center">
              <p-progressSpinner *ngIf="isLoading"></p-progressSpinner>
            </div>
            <p-dataView #dv *ngIf="!isLoading" [paginator]="true" [rows]="9" [value]="userDonations"
                        emptyMessage="Nenhum resultado encontrado" filterBy="petName" layout="list">
              <ng-template pTemplate="header">
                <div class="flex flex-column flex-md-row justify-content-md-between">
                  <span class="p-input-icon-left mb-2 mb-md-0 mr-3">
                    <i class="pi pi-search"></i>
                    <input (input)="dv.filter($event.target.value)" pInputText placeholder="Pesquisar por nome"
                           type="search">
                  </span>
                </div>
              </ng-template>
              <ng-template let-donation pTemplate="listItem">
                <div class="col-12 col-md-12 p-3 d-inline-block">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-12 col-md-3">
                          <div class="text-center pt-2">
                            <h5><b>{{donation.petName}}</b></h5>
                            <p-image [alt]="donation.petName" [height]="150" [imageClass]="'w-100'" [preview]="true"
                                     [src]="donation.petImg" loading="lazy">
                            </p-image>
                            <div class="clearfix mb-2"></div>
                            Data da Postagem: <b>{{donation.date}}</b>
                          </div>
                        </div>
                        <div class="col-12 col-md-9">
                          <div *ngIf="donation.interestedUserId" class="float-md-left mt-4 text-center">
                            <div>
                              <p-chip label="{{donation.interestedUsername}}"
                                      [style]="{cursor: 'pointer'}"
                                      (click)="getInterestedUser(donation.interestedUserId, donation)"
                                      image="{{!donation.interestedUserImg ? 'assets/img/avatar.png' : donation.interestedUserImg}}">
                              </p-chip>
                            </div>
                            Sinalizado em <b>{{donation.signalDate}}</b>
                          </div>
                          <div class="float-md-right mt-3 text-center">
                            <button (click)="onClickRemove(donation)" *ngIf="!donation.interestedUserId"
                                    class="p-button-raised p-button-danger p-button-rounded p-button-sm"
                                    icon="fas fa-trash" iconPos="right" label="Remover" pButton type="button">
                            </button>
                            <button (click)="onClickUpdateDonationStatus(donation)"
                                    *ngIf="donation.interestedUserId && !donation.donated && !donation.donatedToInstitution"
                                    class="p-button-raised p-button-success p-button-rounded p-button-sm"
                                    icon="fas fa-info-circle" iconPos="right" label="Alterar Status" pButton
                                    type="button">
                            </button>
                            <button (click)="onClickUpdateDonationStatus(donation, true)"
                                    *ngIf="donation.donated && donation.rating === 0 && donation.donatedToInstitution"
                                    [ngStyle]="{backgroundColor: 'var(--orange-500)', borderColor: 'var(--orange-500)'}"
                                    class="p-button-raised p-button-success p-button-rounded p-button-sm"
                                    icon="fas fa-star" iconPos="right" label="Avaliar" pButton
                                    type="button">
                            </button>
                            <div *ngIf="donation.interestedUserId && donation.donated && donation.rating !== 0">
                              <b>Feedback para {{donation.donatedToInstitution ? 'Instituição' : 'você'}}:</b>
                              <p-rating [(ngModel)]="donation.rating" [cancel]="false"
                                        [iconOnStyle]="{color: 'var(--orange-500)', borderColor: 'var(--orange-500)'}"
                                        [readonly]="true">
                              </p-rating>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                          <hr>
                          <div class="row">
                            <div class="col-12 col-md-6">
                              <div>Doador: <b>{{donation.username}}</b></div>
                              <div>Localidade: <b>{{donation.city}} - {{donation.state}}</b></div>
                              <div>Tipo: <b>{{donation.petType}}</b></div>
                              <div>Raça: <b>{{donation.petBreed}}</b></div>
                              <div>Gênero: <b>{{donation.petGender}}</b></div>
                              <div class="mt-2">
                                Status:
                                <p-tag styleClass="p-mr-2" severity="{{donation.statusSeverity}}"
                                       value="{{donation.status}}" [rounded]="true">
                                </p-tag>
                              </div>
                            </div>
                            <div class="col-12 col-md-3">
                              <div class="text-md-center mt-3 mt-md-0">
                                <div class="mt-2">
                                  <b>Gosta de crianças:</b>
                                  <p-rating [(ngModel)]="donation.rateLikesChild" [cancel]="false"
                                            [readonly]="true"></p-rating>
                                </div>
                                <div class="mt-2">
                                  <b>Gosta de passeios:</b>
                                  <p-rating [(ngModel)]="donation.rateLikesTours" [cancel]="false"
                                            [readonly]="true"></p-rating>
                                </div>
                              </div>
                            </div>
                            <div class="col-12 col-md-3">
                              <div class="text-md-center">
                                <div class="mt-2">
                                  <b>Amigável:</b>
                                  <p-rating [(ngModel)]="donation.rateFriendly" [cancel]="false"
                                            [readonly]="true"></p-rating>
                                </div>
                                <div class="mt-2">
                                  <b>Treinamento:</b>
                                  <p-rating [(ngModel)]="donation.rateTraining" [cancel]="false"
                                            [readonly]="true"></p-rating>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-dataView>
          </p-tabPanel>

          <p-tabPanel header="Sinalizações">
            <div class="text-center">
              <p-progressSpinner *ngIf="isLoading"></p-progressSpinner>
            </div>
            <p-dataView #dv *ngIf="!isLoading" [paginator]="true" [rows]="9" [value]="flaggedDonations"
                        emptyMessage="Nenhum resultado encontrado" filterBy="petName" layout="list">
              <ng-template pTemplate="header">
                <div class="flex flex-column flex-md-row justify-content-md-between">
                <span class="p-input-icon-left mb-2 mb-md-0 mr-3">
                  <i class="pi pi-search"></i>
                  <input (input)="dv.filter($event.target.value)" pInputText placeholder="Pesquisar por nome"
                         type="search">
                </span>
                </div>
              </ng-template>
              <ng-template let-donation pTemplate="listItem">
                <div class="col-12 col-md-12 p-3 d-inline-block">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-12 col-md-3">
                          <div class="text-center pt-2">
                            <h5>{{donation.petName}}</h5>
                            <p-image [alt]="donation.petName" [height]="160" [imageClass]="'w-100'" [preview]="true"
                                     [src]="donation.petImg" loading="lazy">
                            </p-image>
                            <div class="clearfix mb-2"></div>
                            Data da Postagem: <b>{{donation.date}}</b>
                          </div>
                        </div>
                        <div class="col-12 col-md-9">
                          <div class="float-md-left text-center mt-3">
                            <button class="p-button-raised p-button p-button-rounded p-button-sm mr-2"
                                    (click)="onClickViewDonation(donation)"
                                    icon="fas fa-dog" iconPos="right" label="Visualizar" pButton type="button">
                            </button>
                          </div>
                          <div class="float-md-right text-center mt-3">
                            <button (click)="onClickUpdateDonationStatus(donation, true)"
                                    *ngIf="donation.donated && donation.rating === 0"
                                    [ngStyle]="{backgroundColor: 'var(--orange-500)', borderColor: 'var(--orange-500)'}"
                                    class="p-button-raised p-button-success p-button-rounded p-button-sm"
                                    icon="fas fa-star" iconPos="right" label="Avaliar" pButton
                                    type="button">
                            </button>
                            <div *ngIf="donation.donated && donation.rating !== 0">
                              <b>Avaliação</b>
                              <p-rating [(ngModel)]="donation.rating" [cancel]="false"
                                        [iconOnStyle]="{color: 'var(--orange-500)', borderColor: 'var(--orange-500)'}"
                                        [readonly]="true">
                              </p-rating>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                          <hr/>
                          <div class="row">
                            <div class="col-12 col-md-6">
                              <div>Localidade: <b>{{donation.city}} - {{donation.state}}</b></div>
                              <div
                                *ngIf="getDistanceFromLatLonInKm({lat: donation.lat, lng: donation.lng}, {lat: user.lat, lng: user.lng}) > 0">
                                Distância: <b>{{getDistanceFromLatLonInKm({
                                lat: donation.lat,
                                lng: donation.lng
                              }, {lat: user.lat, lng: user.lng})}} Km</b>
                              </div>
                              <div>Tipo: <b>{{donation.petType}}</b></div>
                              <div>Raça: <b>{{donation.petBreed}}</b></div>
                              <div>Gênero: <b>{{donation.petGender}}</b></div>
                              <div>Data da Sinalização: <b>{{donation.signalDate}}</b></div>
                              <div class="mt-2">
                                Status:
                                <p-tag styleClass="p-mr-2"
                                       severity="{{donation.donated ? donation.statusSeverity : 'info'}}"
                                       value="{{donation.donated ? donation.status : 'Em aberto'}}" [rounded]="true">
                                </p-tag>
                              </div>
                            </div>
                            <div class="col-12 col-md-3">
                              <div class="mt-3 mt-md-0 text-md-center">
                                <div class="mt-2">
                                  <b>Gosta de crianças:</b>
                                  <p-rating [(ngModel)]="donation.rateLikesChild" [cancel]="false"
                                            [readonly]="true"></p-rating>
                                </div>
                                <div class="mt-2">
                                  <b>Gosta de passeios:</b>
                                  <p-rating [(ngModel)]="donation.rateLikesTours" [cancel]="false"
                                            [readonly]="true"></p-rating>
                                </div>
                              </div>
                            </div>
                            <div class="col-12 col-md-3">
                              <div class="text-md-center">
                                <div class="mt-2">
                                  <b>Amigável:</b>
                                  <p-rating [(ngModel)]="donation.rateFriendly" [cancel]="false"
                                            [readonly]="true"></p-rating>
                                </div>
                                <div class="mt-2">
                                  <b>Treinamento:</b>
                                  <p-rating [(ngModel)]="donation.rateTraining" [cancel]="false"
                                            [readonly]="true"></p-rating>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-dataView>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</div>

<ng-template #messageBlock>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-12">
        <p-messages [(value)]="messages" [closable]="false"></p-messages>
      </div>
    </div>
  </div>
</ng-template>
