<div class="sidebar" data-background-color="white" data-color="danger" data-image="./assets/img/sidebar-1.jpg">
  <div class="logo">
    <a class="simple-text" href="javascript:void(0)">
      <div class="logo-normal">
        <img #avatar (error)="avatar.src = './assets/img/avatar.png'" alt="Logo" class="rounded-circle" height="125"
             src="{{user?.img}}"/>
      </div>
    </a>
    <div class="text-center text-gray">
      {{user?.username}}
    </div>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item">
        <a href="/" class="nav-link">
          <i class="fas fa-home"></i>
          <p>Home</p>
        </a>
      </li>
      <li *ngFor="let menuItem of menuItems" class="nav-item" routerLinkActive="active">
        <a (click)="clickMenuItem()" [routerLink]="menuItem.path" class="nav-link">
          <i class="{{menuItem.icon}}"></i>
          <p>{{menuItem.title}}</p>
        </a>
      </li>
    </ul>
    <div *ngIf="isMobile" class="mt-2">
      <ul class="nav navbar-nav nav-mobile-menu">
        <li class="nav-item">
          <a (click)="logout()" class="nav-link">
            <i class="d-lg-none d-md-block pi pi-sign-out"></i>
            <p class="d-lg-none d-md-block">Logout</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="sidebar-background" style="background-image: url('./assets/img/sidebar-4.jpg')"></div>
</div>
